<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>293699355364-54u95ok6rvfdpb18hi1qeoqalki8p3tc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.293699355364-54u95ok6rvfdpb18hi1qeoqalki8p3tc</string>
	<key>API_KEY</key>
	<string>AIzaSyBAXa8yCBkMZtdZv07Q__OSZnXmmMBzeHc</string>
	<key>GCM_SENDER_ID</key>
	<string>293699355364</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ramses.StyleOn</string>
	<key>PROJECT_ID</key>
	<string>styleon</string>
	<key>STORAGE_BUCKET</key>
	<string>styleon.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:293699355364:ios:64aa0d5853a441ab4be2f1</string>
	<key>DATABASE_URL</key>
	<string>https://styleon.firebaseio.com</string>
</dict>
</plist>